button,
a.button {
  @apply font-button text-sm bg-orange-600 hover:bg-orange-500 text-white text-center px-4 py-3 rounded;
  &.loading {
    @apply relative overflow-hidden;
    &:before {
      content: "";
      @apply absolute bg-orange-600 inset-0;
    }
    &:after {
      content: "";
      @apply absolute z-10 top-1/2 left-1/2 inline-block w-5 h-5 border-2 border-white border-r-orange-700 rounded-full;
      animation: loadingSpinner 0.45s infinite linear;
    }
  }
  &.white {
    @apply relative bg-white text-orange-600;
    &.loading {
      &:before {
        content: "";
        @apply absolute bg-white inset-0;
      }
    }
  }
}

@keyframes loadingSpinner {
  from {
    transform: translate(-0.65rem, -0.65rem) rotate(0deg);
  }
  to {
    transform: translate(-0.65rem, -0.65rem) rotate(360deg);
  }
}
